* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Helvetica, sans-serif;
}

.header {
    font-weight: bold;
}

h1,
h2,
h3 {
    color: #1A3636;
}

.container {
    color: #40534C;
    margin: auto;
    width: 850px;
}

.center {
    text-align: center;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/*>>> card*/
.card {
    display: inline-block;
    width: 250px;
    height: 350px;
    margin: 15px;
    border: 2px solid #1A3636;
    position: relative;
}

.card-img {
    width: 100%;
    height: auto;
    display: block;
    margin-bottom: 8px;
}

.card-body{
    margin: 8px;
}

.card-title {
    margin-bottom: 8px;
}

.card-text {
    margin-top: 8px;
}

.card-link {
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
}
/*<<< card*/

/*>>> recipe*/
.recipe {
    margin-left: auto;
    margin-right: auto;
    max-width: 650px;
    padding: 0 15px;
    font-size: 115%;
    line-heigt: 1.4;
}

.recipe-title {
    text-align: center;
    padding: 15px 0;
    margin: 15px;
}

.recipe-img {
    max-width: 100%;
}

.recipe > p {
    line-height: 1.4;
    padding: 15px 0;
}

.recipe h2 {
    padding: 5px 0;
    margin: 5px;
}

.recipe h3 {
    padding: 10px 0;
    margin: 10px;
    color: #40534C;
}

.recipe-ingredients,
.recipe-steps {

}

.recipe-ingredients > ul {
    list-style-type: square;
}

.recipe li {
    margin: 5px 0;
    line-height: 1.4;
}
/*<<< recipe*/
