* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Helvetica, sans-serif;
}

.header {
    font-weight: bold;
}

h1,
h2,
h3 {
    color: #1A3636;
}

.container {
    color: #40534C;
    margin: auto;
    width: 850px;
}

.center {
    text-align: center;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/*>>> card styling*/
.card {
    display: inline-block;
    width: 250px;
    height: 350px;
    margin: 15px;
    border: 2px solid #1A3636;
    position: relative;
}

.card-img {
    width: 100%;
    height: auto;
    display: block;
    margin-bottom: 8px;
}

.card-body{
    margin: 8px;
}

.card-title {
    margin-bottom: 8px;
}

.card-text {
    margin-top: 8px;
}

.card-link {
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
}
/*<<< card styling*/
